body {
	font: 11px "Lucida Grande", Verdana, Helvetica, sans-serif;
}
.btn {
	font-weight: bold;
	width:10em;
	}
.titolo {
	font-size: 1.5em;
	text-indent: 10px;
}

table {
	font-size: 1em;
	border: 1px solid #D6DDE6;
	border-collapse: collapse;
}
table td {
	border: 1px solid #D6DDE6;
	padding: 4px;
}
table th {
	border: 1px solid #828282;
	background-color: #BCBCBC;
	font-weight: bold;
	text-align: left;
	padding: 4px;
}

table.header {
	border-collapse: collapse;
	border-width: 0;
	border-style: none;
	background-color: #2a68c8;
/*	background-image: url('/img/paper.gif');*/
}
table.header td.left {
	border-width: 0;
	border-style: none;
	text-align: left;
	font-size: 2em;
	color: #ffffff;
}
table.header td.right {
	border-width: 0;
	border-style: none;
	text-align: right;
	font-size: 1em;
	color: #ffffff;
}
table.header td.center {
	border-width: 0;
	border-style: none;
	text-align: center;
	font-size: 1em;
	color: #ffffff;
}
.err {
	text-align: center;
	font-weight: bold;
	color: #ee0000;
}
.small {
	font-size: 0.9em;
}

table.action  {
	font-size: 1em;
	font-weight: bold;
	background-color: #DDDDDD;
	border-collapse: collapse;
}
table.action td {
	text-align: center;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #717171;
	border-right: 1px solid #717171;
	padding: 4px;
	white-space: nowrap;
}
table.action a:link, table.action a:visited {
	text-decoration: none;
	color: #000000;
}
table.action a:hover {
	color: #ee0000;
}

pre {
	font-size: 1em;
	font-family: Courier, monospace;
}

/* html title list */
div.html_title {
	position: absolute;
	width: 350px;
	background: #fff;
}
div.html_title ul {
	border:1px solid #888;
	margin:0;
	padding:0;
	width:100%;
	list-style-type:none;
}
div.html_title ul li {
	margin:0;
	padding:3px;
	list-style-type: none;
	display: block;
}
div.html_title ul li.selected { 
	background-color: #ffb; 
}

div.html_title ul strong.highlight { 
	color: #800; 
	margin:0;
	padding:0;
}
div.html_title a:link, div.html_title a:visited {
	font-weight: normal;
	color: #444444;
	text-decoration: none;
}
div.html_title a:hover {
	font-weight: normal;
	color: #DD0000;
	text-decoration: none;
}

/* table search */
#column_list {
	 list-style-image: url('/img/bullet_blue.png');
	 list-style-position: inside;
	 margin-left: 0px;
	 padding-left: 0px;
	 border: 1px solid #DDDDDD;
	 /*list-style-type: square;*/
}
#column_list pre {
	line-height: 1.5em;
}
#table_list {
	list-style-type: none;
	display: block;
	margin-left: 3px;
	padding: 0px;
	cursor: pointer;
}
#table_list li {
	padding: 2px;
	white-space: nowrap;
}
#table_search {
	float: right;
	border: 1px solid #7f9db9;
	padding: 2;
	text-align: left;
	width: 95%;
	}
.normal {
	background-color: #ffffff;
	}
.highlight {
	background-color: #dddddd;
	}

/*
#multi_area {
	position: absolute;
	left: 1em;
	width: 0em;
}
*/


#main_body {
	margin-left: 0em;
}

/*
#sidebar {
	float: left;
	border: 1px solid #D6DDE6;
	padding: 4px;
	height: 100%;
}
*/

table.excel {
	border-collapse: collapse;
}

table.excel td {
	border-style: none;
	padding: 0px;
}

textarea#query_area {
	font-family: 'Menlo', 'Monaco', 'Courier', fixed;
	font-size: 1em;
    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
}

code {
padding: 1px 2px;
color: #d14;
/*
white-space: nowrap;
background-color: #f7f7f9;
border: 1px solid #e1e1e8;
*/
}
